//  ========
//  = Main =
//  ========

header.welcome
  text-align: center

.welcome
  margin: 3em auto

.content
  padding-left: 3em !important

.user-accounts
  margin: 0 auto
  text-align: center

//  =========
//  = Forms =
//  =========

.constrained-form

  width: 55%
  margin: 3em auto

//  ==========
//  = Header =
//  ==========
header
  height: 4em !important
  margin-bottom: 2em
  background: #6DAAB9
  border-bottom: 2px solid #ddd

  h1 > a
    color: white !important
    font-style: bold

  .user_nav
    float: right
    a
      margin-bottom: 0
      vertical-align: middle
      margin-top: 1em

//  ==========
//  = Mobile =
//  ==========

.mobile-sidebar
  display: none

@media only screen and (max-width: 600px)
  .mobile-sidebar
    display: block

//  ==========
//  = Footer =
//  ==========