/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-5.columns
        %p © Copyright BOP 2013
      .large-7.columns
        %ul.inline-list.right
          %li
            %a{href: "#"} Section 1
          %li
            %a{href: "#"} Section 2
          %li
            %a{href: "#"} Section 3
          %li
            %a{href: "#"} Section 4
          %li
            %a{href: "#"} Section 5
          %li
            %a{href: "#"} Section 6