%header 
  .row
    .large-6.small-2.columns
      .logo
        %h1= link_to "BOP", root_path, class: 'root_link'
    .large-6.small-2.columns
      .user_nav
        - if current_user.present?
          =link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'tiny radius button'
        - else
          = link_to 'Sign in', new_user_session_path
